body {
    font-family: sans-serif;
}

#header-text {
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #08d;
    text-shadow: 2px 2px 2px gray;
}

#header-content::after {
    content: "A HEART WRAP IN FUR";
    letter-spacing: 0.1rem;
    color: #08d;
    font-weight: 500;
}

#header-explain::first-line{
    font-weight: bold;
    color: rgb(83, 83, 83);
}

#header-explain a{
    text-decoration: none;
    color: #08d;
}

#article-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #08d;
}

#cite {
    text-align: right;
}