body {
    width: 1000px;
    font-family: sans-serif;
}

header {
    h1 {
        padding-bottom: 20px;
        font-size: 2.3rem;
    }
}

.float-left {
    float: left;
    width: 30%;
    margin-right: 20px;

    p {
        margin-bottom: 50px;
        line-height: 1.3;
        font-size: 1rem;
    }
}